In [1]:
import numpy as np
import pandas as pd

In [15]:
df = pd.read_csv('digits.csv')

In [16]:
df.shape

(154, 1)

In [7]:
a = df.iloc[0]
print a

0    2192949935501716900190050603100169660050016003...
Name: 0, dtype: object

In [49]:
for i in a: print i

2192949935501716900190050603100169660050016003099208172619153427001156520000042667711600034527300025857230731201246870205326005564

Convert individual receipt digits string to values in an array

In [33]:
n = []
for i in a:
    for s in i.split():
        t = int(s)
        print t

2192949515501729617002800150004500100005500000000482450036003099208172019153007000156490000426647116000345273572307312005982086119030616160124687320190480205326059070

In [35]:
pd.concat([pd.DataFrame([i], columns=['A']) for i in range(5)], ignore_index=True)

   A
0  0
1  1
2  2
3  3
4  4

In [45]:
index = np.arange(10)
df_ = pd.DataFrame(columns=['A'])

Empty DataFrame
Columns: [A]
Index: []

In [ ]:
pd.concat([pd.DataFrame([i], columns=['A']) for i in range(5)], ignore_index=True)

In [4]:
df_img = pd.DataFrame(columns=['A'])

In [8]:
def dgts_array(r_dgts):
    '''all digits to one array'''
    m = []
    for i in r_dgts:
        for s in i.split():
            '''print s'''
            t = list(s)
            for j in t:
                if j.isdigit():
                    m.append(int(j))
    return m

In [9]:
b = dgts_array(a)

In [10]:
np.savetxt('sampler1.csv', b, fmt="%s", delimiter=',')

In [17]:
df_sampler = pd.DataFrame(data=b)
df_sampler.to_csv("sampler_1.csv", sep=',', index=False)

In [18]:
for i in xrange(0,10):
    print i

0
1
2
3
4
5
6
7
8
9

In [37]:
m_all = []
for i in xrange(0,154):
    j = df.iloc[i]
    print j
    k = dgts_array(j)
    m_all.append(k)

0    2192949935501716900190050603100169660050016003...
Name: 0, dtype: object
0    2192949515501729617002800150004500100005500000...
Name: 1, dtype: object
0    2192949915861715001500150044335600000161150060...
Name: 2, dtype: object
0    1406320032004060285700000034332003099208172019...
Name: 3, dtype: object
0    2197949355081711515000150001500013393000000160...
Name: 4, dtype: object
0    2192949915561713500075001100020000900000090014...
Name: 5, dtype: object
0    2192949915501731600160016001429000001711600160...
Name: 6, dtype: object
0    2192949975501713500280075001368001386001232190...
Name: 7, dtype: object
0    2192949945501712280044000000006006002600369920...
Name: 8, dtype: object
0    2142949315301711001200350075000122001220010893...
Name: 9, dtype: object
0    2197969915501713306120012001200000000129120616...
Name: 10, dtype: object
0    0219794917127615061500500035000000081611500000...
Name: 11, dtype: object
0    2205100066190011900119001062560060012781196026...
Name: 12, dtype: object
0    2197949918501720220004000400040035716000004294...
Name: 13, dtype: object
0    2192949915501711301306020200001500010000685000...
Name: 14, dtype: object
0    2192949915501714400700011400500003860010179000...
Name: 15, dtype: object
0    2192949928017345004506450040180003064450060030...
Name: 16, dtype: object
0    2192948955012370037001000009630033049006003963...
Name: 17, dtype: object
0    2192949915841713090030642000228005600770010000...
Name: 18, dtype: object
0    2192949915501505000050005000960000536500016063...
Name: 19, dtype: object
0    2192949915591712220004000100100001400010000068...
Name: 20, dtype: object
0    2192949915508171200440096800100003200600000026...
Name: 21, dtype: object
0    2192949915501100100001000010006892900090010711...
Name: 22, dtype: object
0    2199953917130302020005000500000000053650002600...
Name: 23, dtype: object
0    2192941900010001000960008010716001600309920817...
Name: 24, dtype: object
0    2192948915591718103862500356411003700730010000...
Name: 25, dtype: object
0    2492949955617152840000040060400603571450042864...
Name: 26, dtype: object
0    2197949918501710085500606290039000114001270006...
Name: 27, dtype: object
0    2192949915598171349410006005890026003099206172...
Name: 28, dtype: object
0    2192949915501505000500050006000005365036992729...
Name: 29, dtype: object
0    2192969173700750007000186200200001800110001950...
Name: 30, dtype: object
0    2192949915512023600360040003214000000386360009...
Name: 31, dtype: object
0    2192949955071542064200102006000375000000045042...
Name: 32, dtype: object
0    2192949417131604450019005025000100001640040000...
Name: 33, dtype: object
0    2132949911713900390050001700348290000390060309...
Name: 34, dtype: object
0    2192949911745001300560010000420051790000006215...
Name: 35, dtype: object
0    2192949915256400640010000360657149009006866400...
Name: 36, dtype: object
0    5780072009082600126005060031125000013500000054...
Name: 37, dtype: object
0    4625230070009900100001001002883910640000054990...
Name: 38, dtype: object
0    5038675004353500437632009200100000406090800382...
Name: 39, dtype: object
0    3064999251200714464000173600000549864701060097...
Name: 40, dtype: object
0    5240024005000600221436000054989470100097891140...
Name: 41, dtype: object
0    9902157800280026001250000000549854701000978871...
Name: 42, dtype: object
0    5110628003312004000400000023571000429000005498...
Name: 43, dtype: object
0    1800328500815009000900028036000005498247010600...
Name: 44, dtype: object
0    3941297299202724554844242084000041121817201143...
Name: 45, dtype: object
0    8274100027927720272081702945545746241001121008...
Name: 46, dtype: object
0    7181235067003020000000081720192154331623686136...
Name: 47, dtype: object
0    1812350670030200000000817201921543310236861364...
Name: 48, dtype: object
0    1812350670030200000000817201922242223387001364...
Name: 49, dtype: object
0    7181235067003020000006081720192229161023693364...
Name: 50, dtype: object
0    1812350670030200000000817201922345823387090136...
Name: 51, dtype: object
0    1812350670030200000000817201922345823387090136...
Name: 52, dtype: object
0    7181235067003020000000081720192109062338680136...
Name: 53, dtype: object
0    7181235067003020000000081720192202121102634013...
Name: 54, dtype: object
0    7181235067003020000000081720192141001102621136...
Name: 55, dtype: object
0    1812350670030200000000817201921515111026271364...
Name: 56, dtype: object
0    7181235067003020000000081720192236592338711364...
Name: 57, dtype: object
0    7181235067003020000000081720192104152338676136...
Name: 58, dtype: object
0    1812350670030200000000817201921275623386860136...
Name: 59, dtype: object
0    1812350670030200000000817201920593320641753644...
Name: 60, dtype: object
0    1812350670030200000000817201921031223386740136...
Name: 61, dtype: object
0    7181235067003029000000081720192041122338649364...
Name: 62, dtype: object
0    7181235067003020000000081720192056022338666136...
Name: 63, dtype: object
0    7181235067003020600000081720192031052338638136...
Name: 64, dtype: object
0    1812350670030200000000817201920552723386650136...
Name: 65, dtype: object
0    7181235067003020000000081720192056592338668136...
Name: 66, dtype: object
0    1812350670030200000000817201921320623386910136...
Name: 67, dtype: object
0    7181235067003020000000081720192048402338657136...
Name: 68, dtype: object
0    7181235067003020000000081720191954071102556013...
Name: 69, dtype: object
0    7181235067030200000000817201920485723386581364...
Name: 70, dtype: object
0    7181235067003020000000081720192014081102570136...
Name: 71, dtype: object
0    1812350670030200000000817201920070110236820136...
Name: 72, dtype: object
0    1812350670030200000000817201920143111025711364...
Name: 73, dtype: object
0    7181235667003020000000081720192230302338706136...
Name: 74, dtype: object
0    7181235067003020000000081720192231472338707136...
Name: 75, dtype: object
0    7181235067003020000000081720192006321102567136...
Name: 76, dtype: object
0    7181235067003020000000081720192024231102581136...
Name: 77, dtype: object
0    1812350670030200000000817201920505823386611364...
Name: 78, dtype: object
0    1812350670030200000000817201920191611025771364...
Name: 79, dtype: object
0    7181235067003020000000081720192026341102583136...
Name: 80, dtype: object
0    7181235067003026000000081720192026031102582136...
Name: 81, dtype: object
0    7181235067003020000000081720192031172338639136...
Name: 82, dtype: object
0    7181235067003020000000081720192015501102573136...
Name: 83, dtype: object
0    7181235067003062000000008172019195926110256113...
Name: 84, dtype: object
0    7181235067003020000000081720191923212338626013...
Name: 85, dtype: object
0    7181235067003020000000081720191923072338625013...
Name: 86, dtype: object
0    7181235067003020000000081720192028282064173136...
Name: 87, dtype: object
0    1812350670030200000000817201920583623386701364...
Name: 88, dtype: object
0    1812350670030200000000817201919350323386320136...
Name: 89, dtype: object
0    7181235067003020000000081720192225432338701013...
Name: 90, dtype: object
0    7181235067003020000000081720192226552338702136...
Name: 91, dtype: object
0    7181235067003020000000081720192222272338698136...
Name: 92, dtype: object
0    7181235067003020000000081720192223192338699450...
Name: 93, dtype: object
0    7181235067003020000000817201922282023387041364...
Name: 94, dtype: object
0    7181235067003029000000008172019222722233870301...
Name: 95, dtype: object
0    7181235067003020000000081720192154091102629136...
Name: 96, dtype: object
0    1812350670030200000000817201922293723387051364...
Name: 97, dtype: object
0    7181235067003020000000081720191913262064168136...
Name: 98, dtype: object
0    7181235067003020000000081720191919292338624136...
Name: 99, dtype: object
0    7181235067003020000000081720191928562338629136...
Name: 100, dtype: object
0    7181235067003020000000081720192049402338660136...
Name: 101, dtype: object
0    7181235067003020000000081720192049192338659013...
Name: 102, dtype: object
0    7181235067003620000000081720191916402338622136...
Name: 103, dtype: object
0    7000390189149112908182019093749110198902566404...
Name: 104, dtype: object
0    7000390189149112908182019092606110198225660402...
Name: 105, dtype: object
0    7000390189149171790818201909264311019830256604...
Name: 106, dtype: object
0    7000390189149129871820191018360256621706701110...
Name: 107, dtype: object
0    0003901891491129081820190957261102005566404021...
Name: 108, dtype: object
0    0003901891491291821018261202256617062011100423...
Name: 109, dtype: object
0    7000390189149129841820191293211021052566217062...
Name: 110, dtype: object
0    7000124081829170828110208225664040217062011100...
Name: 111, dtype: object
0    7000390189149112908182019103136110704256640217...
Name: 112, dtype: object
0    0039018914911298182019112851110210456617062011...
Name: 113, dtype: object
0    7000390189143112908182019092417110198025664040...
Name: 114, dtype: object
0    5000396189144411290818201910077471307016629664...
Name: 115, dtype: object
0    7000390189149112908182019100847110201725661706...
Name: 116, dtype: object
0    0039018914911290818201910105211020156170620111...
Name: 117, dtype: object
0    7000390189145112908182018101324110202125662170...
Name: 118, dtype: object
0    7000390189149112908182019092902110198525664040...
Name: 119, dtype: object
0    7000390189149129081820191010051016858256642170...
Name: 120, dtype: object
0    7039018914511290818201910144311020232566001706...
Name: 121, dtype: object
0    7000390189149112908182019105924110206975664170...
Name: 122, dtype: object
0    0003901891491129081820191007301102015256640402...
Name: 123, dtype: object
0    7000390189149112908182019094404110199525664021...
Name: 124, dtype: object
0    0003901891491129081820191101081102071664040217...
Name: 125, dtype: object
0    7000390189149112908182019105825110206725664021...
Name: 126, dtype: object
0    0003901891491129081820191142201102115256640402...
Name: 127, dtype: object
0    6003901891491129081820190103645110203956617082...
Name: 128, dtype: object
0    7000390189144112908182019103556110205002566040...
Name: 129, dtype: object
0    0003901891491129081820191758141102121256604217...
Name: 130, dtype: object
0    0003901891491129818201911244521025664040217062...
Name: 131, dtype: object
0    7000340189149112908182019142302210577925664040...
Name: 132, dtype: object
0    7000390189149129081820191144341102117617062011...
Name: 133, dtype: object
0    7003901891451129618201911020411020732566404021...
Name: 134, dtype: object
0    7003901891491129114047110211325661706201110042...
Name: 135, dtype: object
0    0003961891191290818201914225011021002566402170...
Name: 136, dtype: object
0    0003901891491290818201911065411020792566217062...
Name: 137, dtype: object
0    7000390189149129081820191058461102068256617062...
Name: 138, dtype: object
0    7403901891451129081820191404401102078680172011...
Name: 139, dtype: object
0    7000390189149112981820191119351102345664040217...
Name: 140, dtype: object
0    7000390189145112908182019114352110211625664040...
Name: 141, dtype: object
0    7000390189149112908182019113215451102098261706...

Name: 142, dtype: object
0    7000390189149129081820191138561102110256640402...
Name: 143, dtype: object
0    7000390189149112908182619184411020922566217062...
Name: 144, dtype: object
0    7000390189149129081820191139251102411256640217...
Name: 145, dtype: object
0    7276000192294366377182019101381010198052772760...
Name: 146, dtype: object
0    7115001922942563471820199371150949937642111500
Name: 147, dtype: object
0    7100001922942505221820199351000956156205810600
Name: 148, dtype: object
0    7665001922943772751720191047093558863826650000...
Name: 149, dtype: object
0    5400019223434623918201910060078401501710999996...
Name: 150, dtype: object
0    75000001922942176461820199250945118714250001
Name: 151, dtype: object
0    750001922944041521820191027092601608705600
Name: 152, dtype: object
0    7950001922943724581820191016100784015017070701...
Name: 153, dtype: object

In [39]:
df_all = pd.DataFrame(data=m_all)
df_all.to_csv("all.csv", sep=',', index=False)

In [40]:
df_all.shape

(154, 223)

In [66]:
def dgts_all(r_df):
    '''all digits to one array'''
    m_all = []
    for l in xrange(0, 154):
        j = r_df.iloc[l]
        for i in j:
            for s in i.split():
                '''print s'''
                t = list(s)
                for u in t:
                    if u.isdigit():
                        m_all.append(int(u))
    print len(m_all)
    return m_all

In [67]:
df_a = dgts_all(df)

26352

In [68]:
df_all = pd.DataFrame(data=df_a)
df_all.to_csv("all_1.csv", sep=',', index=False)

In [69]:
df_all.shape

(26352, 1)